<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyKho.Properties.Settings.QuanLyKhoConnectionString"
            connectionString="Data Source=DESKTOP-FK7IAI2\SQLEXPRESS;Initial Catalog=QuanLyKho;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>